/* custom fonts */
@font-face {
  font-family: "Inter";
  src: local("Inter"),
   url("./assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
  font-weight: normal;
  font-style: normal;
 }
 @font-face {
  font-family: "Luxurious";
  src: local("Luxurious"),
   url("./assets/fonts/Luxurious_Script/LuxuriousScript-Regular.ttf");
  font-weight: normal;
 }
